!.gitkeep
/__pycache__
/wav/train/*/*.wav
/wav/production/*/*.wav
/settings/*/parameters.txt
/mcep_aligned/*/remove_frames.txt
/mcep_aligned/*/*/*.txt
/mcep_aligned/*/*/*.png
/train_result/*/*.png
/train_result/*/*.gmm
/train_result/*/*.npy
/resynthesis_test/*
/resynthesis_test_replacing_mcep/from/*.wav
/resynthesis_test_replacing_mcep/to/*.wav
/resynthesis_test_replacing_mcep/output/*.wav
/resynthesis_test_replacing_mcep/output/*.png